<!-- Left Sidebar -->
<div class="col-md-2 sidebar d-none d-md-block">
    <h5 class="text-center py-3">Filter bar</h5>
    <ul class="nav flex-column px-2">
        <li class="nav-item">
            <a href="#" class="nav-link text-light">Option 1</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-light">Option 2</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-light">Option 3</a>
        </li>
    </ul>
</div> 
